.categories-container {
    float: left;
    width: 280px;
    min-height: 400px;
    margin-right: 64px;
}
.categories-container__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
    margin-top: 32px;
    margin-bottom: 20px;
}
.categories-list {
    display: flex;
    flex-direction: column;
}

/* Mobile style start */

@media screen and (max-width: 700px) {
    .categories-container {
        float: none;
        width: 280px;
        margin-bottom: 58px;
    }
}

/* Mobile style end */
